body {
    background-color: #fbfbfb;
}

#base {
    height: 100%;
}

#base > .row {
    height: inherit;
}

main {
    margin-top: 30px;
}

main #content {
    background-color: #ffffff;
    border-radius: 5px;
    min-width: 100%;
    padding: 20px 20px 20px 15px;
    width: fit-content;
}

.nav {
    padding: 20px;
    height: inherit;
}

.nav .fa {
    width: 50px;
    text-align: center;
    margin-right: 10px;
}

.nav ul li .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #4c4c4c;
}

.nav ul li.active .nav-link, .nav ul li .nav-link:hover, a:hover .badge-matrix {
    color: #3869d4;
}

.matrix a:hover {
    text-decoration: none;
}

.nav ul li.active {
    background-color: #f6f6f6;
}

.nav ul li {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #dddddd;
}

.nav ul li:first-child {
    border-top: 2px solid #dddddd;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot-small {
    height: 10px;
    width: 10px;
}

form h3 {
    margin-top: 25px;
    margin-bottom: 20px;
}

.button-form form, .button-form .form-group {
    margin: 0;
}

.form-check {
    margin-left: 30px;
}

button > i {
    padding-right: 5px;
}

#logo {
    width: inherit;
    margin-bottom: 20px;
}

.shadow-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

form input[type="radio"].custom-control-input, form input[type="checkbox"].custom-control-input {
    position: relative;
    z-index: 0;
    opacity: 1;
    margin-top: 6px;
    margin-right: 5px;
}

form input[type=color] {
    height: 50px;
}

.bg-gray-1 {
    background-color: #FBFBFB;
}

.bg-gray-2 {
    background-color: #F8F8F8;
}

.rotate {
    transform: rotate(-90deg);
}

form.inline div {
    display: inline-block;
}

form.inline .form-control {
    width: auto;
}

.badge-matrix {
    color: #1d1e1f;
    background-color: #EEEEEE;
    padding: 8px
}

.badge .dot {
    margin-left: 5px;
}

.legend {
    margin: 10px;
}

.legend-item {
    margin-left: 8px;
    display: inline-block;
}

.legend-item .dot {
    margin-right: 1px;
    position: relative;
    top: 2px;
}

.info i.fa-info {
    background-color: dodgerblue;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    padding-top: 3px;
    padding-right: 1px;
    font-size: x-small;
    border-radius: 9px;
    position: relative;
    left: 3px;
    top: -4px;
}

.info .infotext {
    visibility: hidden;
    position: absolute;
    display: inline-block;
    background-color: #F3F3F3;
    color: #2f2f2f;
    border: 1px solid #a9a9a9;
    padding: 6px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: -7px;
    max-width: 200px;
    z-index: 5;
}

.info:hover .infotext {
    visibility: visible;
}
