<template>
    <div>
        <b-container fluid class="table-control">
            <b-row>
                <b-col lg="3">
                    <b-form-group
                        label="Filter:"
                        label-cols="auto"
                    >
                        <b-form-input
                            id="filter-input"
                            v-model="filter"
                            type="search"
                            placeholder="Type to Filter"
                        />
                    </b-form-group>
                </b-col>
                <b-col lg="5">
                    <b-form-group
                        label="Columns:"
                        label-cols="auto"
                    >
                        <multiselect
                            v-model="selected"
                            :options="fieldNames()"
                            :taggable="true"
                            :multiple="true"
                            placeholder="Pick Columns"
                        />
                    </b-form-group>
                </b-col>
            </b-row>
        </b-container>

        <b-table
            hover
            :items="items"
            :fields="fieldsFiltered()"
            :filter="filter"
        />
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
    name: "DataTable",
    props: ['items', 'fields'],
    components: {Multiselect},
    data() {
        return {
            selected: ['Name', 'Description'],
            filter: null,
        }
    },
    methods: {
        fieldNames() {
            return this.fields.map((e) => e.label)
        },
        fieldsFiltered() {
            return this.fields.filter((e) => this.selected.includes(e.label))
        }
    }
}
</script>

<style scoped>
.table-control {
    margin-bottom: 10px;
}
</style>